flask==2.2.3
flask-login==0.6.2
werkzeug==2.2.3
numpy==1.23.5
ccxt==4.1.22
scikit-learn==1.2.2
ta==0.10.2
joblib==1.2.0
apscheduler==3.10.4
bcrypt==4.0.1
requests==2.31.0
cryptography==41.0.7
gunicorn==21.2.0